* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 15;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* --- Header --- */

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px;
}

.nav-menu-items {
  color: #fff;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 1.1em;
}

.nav-menu-items:hover {
  transform: scale(0.95);
}

header {
  background: url("images/background-header.jpg");
  background-size: cover;
  height: 50em;
}

.menu-container {
  margin: 40px 0px 30px 70px;
  width: 100%;
}

.menu-container-text {
  width: 70%;
  color: #fff;
}

.header-title {
  font-size: 3.5em;
  margin-bottom: 20px;
}

.header-text {
  text-align: justify;
  line-height: 3;
  font-size: 1.1em;
  margin-bottom: 40px;
}

.header-button {
  border: 3px solid #fff;
  background: #ffffff00;
  color: #fff;
  margin: 0px 70px;
  padding: 15px 30px;
  font-size: 1.1em;
}

.header-button:hover {
  transform: scale(0.95);
}

/* --- Content --- */
.container-contents {
  height: 1000px;
  width: 100%;
  overflow: scroll;
}

.container-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin: 130px 60px;
}

.containter-content-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #d4dbc3;
  border-radius: 10px;
  padding: 20px 25px 20px 30px;
  box-shadow: 2px 2px 30px #6e7361;
}

.containter-content-text-title {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.containter-content-text-paragraph {
  line-height: 2.7;
  font-size: 1.1em;
}

.container-content-image {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 15px #6e7361;
}
